
{% extends 'base.html' %}
{% block title %}
Create Book
{% endblock %}
{% block content %}
<h1>Create Book</h1>
<form class="" method="post" novalidate>
    {% csrf_token %}
    {% for field in form.visible_fields %}

    <table>
        <thead>
        <tr>
            <th><label for="{{ field.id_for_label }}">{{field.label}}</label></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{field}}</td>
        </tr>
        </tbody>

    </table>


    <div class="form-group">


        {% for error in field.errors %}
            <span class="help-block" style="color:red">{{error}}</span>
        {% endfor %}
    </div>
  {% endfor %}
    <div>
        <input type="submit" name="" value="Submit" class="btn btn-success ">
        <a href="{% url 'home' %}" class="btn btn-default">Cancel</a>
    </div>
</form>
{% endblock %}
