
{% extends 'base.html' %}
{% block title %}
Create Book
{% endblock %}
{% block content %}
<h1>Create Book</h1>
<form class="" method="post" novalidate>
  <table class="table" style="margin-top: 5%;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">{% csrf_token %}</th>
      <th scope="col"> {% for field in form.visible_fields %}</th>
    </tr>
  </thead>
  <tbody>
    {% if context %}
        {% for each in context %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td><label for="{{ field.id_for_label }}">{{field.label}}</label></td>
              <td>{{field}}</label></td>
              <td>
    <div class="form-group">
        
        
        {% for error in field.errors %}
            <span class="help-block" style="color:red">{{error}}</span>
        {% endfor %}
    </div>
  {% endfor %}
    <div>
        <input type="submit" name="" value="Submit" class="btn btn-success ">
        <a href="{% url 'home' %}" class="btn btn-default">Cancel</a>
    </div>
</form>
{% endblock %}
